.boxs{
  display: flex;
  align-items: center;
}

.boxs > p {
  margin-right: 20px;
}


.div {
  display: flex;
  align-items: center;
  width: 700px;
  margin: 0px auto;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
}

.save{
  display: flex;
  justify-content: space-between;
  align-items: center
}


li{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

li> p {
  margin-right: 20px;
}

.list{
  margin: 0px auto;
  list-style: none;
  padding: 0;
}


.list li {
  padding: 20px;
  justify-content: space-between;
}